<section class="flex flex-col justify-between items-center bg-black">
    <div class="flex flex-col justify-center items-center pt-12 pb-[100px]">
        <span class=" w-[1px] h-[230px]  border-l block"></span>
        <p class="text-white pt-12">Interested in staying up to date with Starlink?</p>
        <div class="flex gap-5 py-5">
            <input type="email" class="px-7 py-3 w-[250px] rounded text-white font-bold text-sm bg-gray-900" placeholder="EMAIL">
            <button class="bg-white px-7 rounded">SIGN UP</button>
        </div>
        <p class="text-gray-500 pt-5 text-[10px] font-extralight">By clicking Sign Up, you agree to our <a href="#" class="underline text-gray-400">Privacy Policy</a></p>
    </div>

    <footer class="flex [&>*]:py-2 w-full px-[100px] py-10">
        <p class="text-gray-500 pt-5 text-[13px] font-extralight flex-grow">Starlink 2023</p>
        <ul class="flex px-2 [&>li>a]:text-white [&>li>a]:text-sm [&>li>a]:font-bold [&>li]:px-1 [&>li]:text-white pl-[225px]">
            <li><a href="#">Careers</a></li>
            <li>|</li>
            <li><a href="#">Satellite Operators</a></li>
            <li>|</li>
            <li><a href="#">Privacy & Legacy</a></li>
            <li>|</li>
            <li><a href="#">Privacy Preferences</a></li>
        </ul>
        <p class="text-gray-500 pt-5 text-[13px] font-extralight text-end flex-grow">Starlink is a division of SpaceX. Visit us at <a href="https://spacex.com" class="text-white">spacex.com</a></p>
    </footer>
</section>