<header class="flex justify-between pt-[40px] px-[70px] z-20">

    <div class=" flex justify-start">
        <div class=" w-[165px] h-[20px] bg-[url('/logo_white.png')] bg-cover bg-center bg-no-repeat">
        </div>
    </div>

    <nav>
        <ul class="flex pl-[115px] [&>li]:px-5  [&>li>a]:text-white [&>li>a]:uppercase [&>li>a]:text-sm [&>li>a]:font-bold">
            <li><a class="pt-2 pb-0 border-b-[1px] border-white" href="#">Residential</a></li>
            <li><a href="#">Business</a></li>
            <li><a href="#">Roam</a></li>
            <li><a href="#">Mobility</a></li>
            <li><a href="#">Maritime</a></li>
            <li><a href="#">Aviation</a></li>
            <li><a href="#">IOT</a></li>
        </ul>
    </nav>

    <nav class="flex  justify-end pr-7">
        <ul class="flex pl-4 [&>li>a]:text-white [&>li]:px-5 [&>li>a]:uppercase [&>li>a]:text-sm [&>li>a]:font-bold">
            <li><a href="#">Technology</a></li>
            <li><a href="#">Support</a></li>
            <li class="w-3 h-4 bg-[url('/Menu_Hamburger.svg')] bg-contain bg-center bg-no-repeat"></li>
        </ul>
    </nav>

</header>