<section class="flex justify-end min-h-screen">
    <div class="flex text-start flex-col justify-center bg-black w-full px-[200px]">
        <h2 class="text-white text-[50px] font-bold pb-[30px] leading-[50px]">EASY SELF-INSTALL</h2>
        <p class="text-white text-[16px] w-[550px] font-thin">Your Starlink Kit arrives with everything you need to get online in minutes including your Starlink, WiFi router, cables and base.</p>
        <p class="text-white text-[16px] w-[550px] font-thin py-4">Click <a href="#" class="underline">here</a> to view Starlink technical specifications.</p>
        <button class="bg-transparent text-white rounded border-2 border-white font-bold w-[300px] py-3 mt-5">VIEW INSTALL</button>
    </div>

    <img class="w-[50%] object-cover" src="/install.avif" alt="background">

</section>