<section class="flex justify-between pb-[35px] pt-[50px] flex-col items-center h-[93.3vh]">
    <div class="flex flex-col text-center">
        <h1 class="text-white text-[50px] font-bold pb-[30px]">ORDER STARLINK</h1>
        <p class="text-white text-[16px] w-[550px] font-thin">Connect to high-speed, low-latency internet across the globe, even in the most remote and rural locations.</p>
    </div>

    <div class="flex flex-col items-center">
        <div class="flex gap-5 text-[11px]">
            <input class="text-white px-7 w-[420px] h-[50px] bg-white/[0.15] border-2 rounded border-gray-400 focus:border-white outline-none" placeholder="SERVICE ADDRESS" type="text">
            <button class="bg-white text-black px-12 rounded font-bold">ORDER NOW</button>
        </div>
        
        <a class="text-white pt-5 font-bold text-sm relative" href="#">VIEW AVAILABILITY MAP <span class="border-b border-r border-white/[0.7] rotate-[-45deg] h-[8px] w-[8px] absolute bottom-[6px] -right-3"></span></a>
        <p class="text-gray-500 pt-5 text-[10px] font-extralight">By clicking order now, you agree to our <a href="#" class="underline text-gray-400">Privacy Policy</a></p>
        <span class="border-b-2 border-r-2 border-white rotate-[45deg] h-[20px] w-[20px]"></span>
    </div>

    <img class="-z-10 absolute w-[100vw] h-[100vh] top-0 object-cover" src="/landing-bkg.avif" alt="background">
</section>