<section class="flex flex-col min-h-screen justify-center items-center bg-gray-700">
    
    <h2 class="text-white text-[50px] font-bold pb-[40px]">CUSTOMER QUOTES</h2>

    <div class="flex text-start justify-around w-full [&>div>p]:w-[500px] [&>div>p]:leading-9 px-12">
        
        <div class="flex flex-col px-2 text-center">
            <p class="text-white text-[28px] font-thin">“It’s an entirely different world...Before Starlink we had to ration data and we couldn’t stream. Now we have files downloading, Pandora playing, Zoom going and there’s no latency whatsoever.”</p>
            <p class="text-white text-[28px] font-thin py-4">- William D. from Colorado, USA</p>
        </div>    
        
        <div class="flex flex-col px-2 text-center">
            <p class="text-white text-[28px] font-thin">“Absolute game changer! There’s no overpromising and underdelivering like our old slow provider. Plug it in and show Dishy the sky, that’s it! In under 5 minutes we’ve gone from the forgotten to having the fastest internet connection in the area.”</p>
            <p class="text-white text-[28px] font-thin py-4">- Aaron W. from Southern England</p>
        </div> 

        <div class="flex flex-col px-2 text-center">
            <p class="text-white text-[28px] font-thin">“Millions are not connected to the Internet — we're thrilled to say that we're no longer among them. Blistering fast and online in minutes, Starlink ends a six-year journey.”</p>
            <p class="text-white text-[28px] font-thin py-4">- Neil V. from New South Wales Australia</p>
        </div>  

    </div>


</section>