<section class="flex justify-end min-h-screen">
    <div class="flex text-start flex-col justify-center bg-black w-full px-[200px]">
        <h2 class="text-white text-[50px] font-bold pb-[30px] leading-[50px]">ENGINEERED BY SPACEX</h2>
        <p class="text-white text-[16px] w-[550px] font-thin">SpaceX is leveraging its experience in building rockets and spacecraft to deploy the world’s most advanced broadband internet system. As the world’s leading provider of launch services – and the only provider with an orbital class reusable rocket – SpaceX has deep experience with both spacecraft and on-orbit operations.</p>
        <button class="bg-transparent text-white rounded border-2 border-white font-bold w-[300px] py-3 mt-5">LEARN MORE</button>
    </div>

    <img class="w-[50%] object-cover" src="/rocket.avif" alt="background">

</section>