<section class="flex justify-start min-h-screen">
    <img class="w-[50%] object-cover" src="/sustain.avif" alt="background">

    <div class="flex text-start flex-col justify-center bg-black w-full px-[100px]">
        <h2 class="text-white text-[50px] font-bold pb-[30px] leading-[50px]">LEADER IN SPACE SUSTAINABILITY</h2>
        <p class="text-white text-[16px] w-[550px] font-thin">Starlink not only leads the industry in innovations to reduce satellite brightness, but also on-orbit debris mitigation — meeting or exceeding all regulatory and industry standards.</p>
        <button class="bg-transparent text-white rounded border-2 border-white font-bold w-[300px] py-3 mt-5">LEARN MORE</button>
    </div>
</section>