<section class="flex justify-start min-h-screen">
    <img class="w-[50%] object-cover" src="/tech.avif" alt="background">

    <div class="flex text-start flex-col justify-center bg-black w-full px-[100px]">
        <h2 class="text-white text-[50px] font-bold pb-[30px] leading-[50px]">STREAMING, VIDEO CALLS, ONLINE GAMING & MORE</h2>
        <p class="text-white text-[16px] w-[550px] font-thin">With Starlink, users can engage in activities that historically have not been possible with satellite internet.</p>
        <p class="text-white text-[16px] w-[550px] font-thin py-4">Starlink’s high-speed, low-latency service is made possible via the world’s largest constellation of highly advanced satellites operating in a low orbit around the Earth.        </p>
        <button class="bg-transparent text-white rounded border-2 border-white font-bold w-[300px] py-3 mt-5">LEARN MORE</button>
    </div>
</section>