<section class="flex justify-end min-h-screen relative">
    <div class="flex text-start flex-col justify-center bg-transparent w-full px-[200px]">
        <h2 class="text-white text-[50px] font-bold pb-[30px] leading-[50px]">TRAVEL WITH STARLINK</h2>
        <p class="text-white text-[16px] w-[550px] font-thin">With Starlink’s Mobile plans, you can take your high-speed, low-latency internet service with you wherever you go.</p>
        <p class="text-white text-[16px] w-[550px] font-thin py-4">Pause and resume your plan based on your travel needs and stay connected in any location where Starlink is available.</p>
        <button class="bg-transparent text-white rounded border-2 border-white font-bold w-[300px] py-3 mt-5">LEARN MORE</button>
    </div>

    <img class="-z-10 absolute w-[100vw] h-[100vh] top-0 object-cover object-center" src="/travel.avif" alt="background">

</section>